<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Forem Demo Site", root_path %></h1>
  <div id='warning'>
    This is a Forem demo site. The demo's data can and will be wiped without notice.<br><br>

    If you'd like to discuss feature requests or file a bug, <a href='http://github.com/radar/forem/issues'>please do so on the GitHub Issues page</a>.
  </div>
  <br>
  <% flash.each do |k,v| %>
    <div class='flash flash_<%= k %>'><%= v %></div>
  <% end %>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", '/users/sign_out' %>
  <% else %>
    <%= link_to "Sign up", '/users/sign_up' %>
    <%= link_to "Sign in", '/users/sign_in' %>
  <% end %>

<%= yield %>

</body>
</html>
