<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Forem Demo Site", root_path %></h1>
  <% flash.each do |k,v| %>
    <div class='flash flash_<%= k %>'><%= v %></div>
  <% end %>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", '/users/sign_out' %>
  <% else %>
    <%= link_to "Sign up", '/users/sign_up' %>
    <%= link_to "Sign in", '/users/sign_in' %>
  <% end %>

<%= yield %>

</body>
</html>
